{% extends 'base.html.twig' %}

{% block title %}Hello ConcessionaireController!
{% endblock %}

{% block body %}
	<main class="container p-5">
		<div class="row">
			<div class="col-md col-sm">
				<h1 class="h1">Création d'un concessionaire auto</h1>

			</div>
		</div>
		<div class="row">
			<div class="col-md col-sm">
				{{form(form)}}
				</div>
			</div>
		</main>
	{% endblock %}
