{% extends 'base.html.twig' %}

{% block title %}Hello ConcessionaireController!
{% endblock %}

{% block body %}
	<header>
		<nav class="navbar navbar-light bg-primary">
			<div class="container-fluid">
				<span class="navbar-brand mb-0 h1 text-light">Plateforme de création de concessionaire - Admin</span>
			</div>
		</nav>
	</header>

	<main class="container p-5">
		<div class="row">
			<div class="col-md col-sm">
				<h1 class="h1">Création d'un concessionaire auto</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md col-sm">
				{{form(form)}}
				</div>
			</div>
		</main>
		<style>
		body {
			background: url('https://www.caution-garantie.fr/img/produits/caution-concessionnaire-automobile.jpg') no-repeat;
			background-size: cover;
		}

	</style>
	{% endblock %}

