{% extends 'base.html.twig' %}

{% block title %}Plateforme vente 974
{% endblock %}

{% block body %}
	<header>
		<nav class="navbar navbar-light bg-primary">
			<div class="container-fluid">
				<span class="navbar-brand mb-0 h1 text-light">Plateforme de vente</span>
			</div>
		</nav>
	</header>
	<main class="content-flex">
		<section class="container p-5">
			<div class="row">
				{% for concessionaire in listeConcession %}
					<div class="col-md col-sm">
						<div class="card" style="width: 18rem;">
							<a href="{{ path('concession/delete',{'id':concessionaire.id}) }}" class="link-dark">
								<i class="fas fa-times close"></i>
							</a>
							<div class="card-body">
								<h5 class="card-title">{{concessionaire.nom}}</h5>
								<div class="btn-group" role="group" aria-label="Basic example">
									<a href="#" class="btn btn-primary">Voir les véhicules</a>
									<a href="{{ path('concession/update',{'id':concessionaire.id}) }}" class="btn btn-danger">Modifier la concession</a>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</section>
	</main>
	<style>
		body {
			background: url('https://images.unsplash.com/photo-1635072181179-ef31855047af?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1631&q=80') no-repeat;
			background-size: cover;
		}
		.content-flex {
			height: 100vh;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.card {
			text-align: center;
			position: relative;
		}
		.close {
			position: absolute;
			font-size: 1.75em;
			text-align: right;
			padding: 10px 10px 0 0;
			right: 0;
		}
	</style>
{% endblock %}
